target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
src/test/resources/orm.mv.db
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
.project
.settings
*.iml

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
